.sobre-cards{
    padding-top: 20px;
    border-radius: 30px;
    flex-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
    @media (min-width: 1199) {
        box-shadow: 10px -10px 20px 0px #EFEFEF;
    }
    &.creatingCards{
        scroll-behavior: unset !important;
    }
    .sobre-card{
        border-right: 2px solid #F3F3F3;
        text-align: center;
        &:last-child{
            border: none;
        }
        .head{
            img{
                border: 1px solid #EFEFEF;
                border-radius: 34px;
                margin-bottom: 30px;
                width: 100%;
            }
            p{
                &.name{
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 26px;
                    color: #472876;
                    margin-bottom: 0;
                }
                &.cargo{
                    font-size: 15px;
                    line-height: 26px;
                    color: #FFB044;
                    margin-bottom: 25px;
                    text-transform: uppercase;
                }
            }
        }
        .text{
            margin-bottom: 100px;
            *{
                font-size: 15px;
                line-height: 26px;
                color: #141414;
                margin-bottom: 25px;
                padding: 0 25px;
            }
        }
        .foot{
            bottom: 30px;
            position: absolute;
            left: 50%;
            img{
                transform: translateX(-50%);
            }
        }
    }
    .rightArrow, .leftArrow{
        font-family: monospace;
        font-size: 40px;
        color: gray;
        position: absolute;
        top: 200px;
        z-index: 1;
        width: 40px;
        cursor: pointer;
        &.disabled{
            color: #eee;
        }
    }
    .leftArrow{
        left: 10px;
        @media (min-width: 768px) {
            left: 70px;// -20px no site
        }
    }
    .rightArrow{
        right: 0px;
        @media (min-width: 768px) {
            right: 50px;// -50px; no site
        }
    }  
}